<div class="index">
    <div class="searchbox wrap">
        <div class="searchtip">全网手机维修点数据库、查询系统</div>
        <div class="search">
            <div class="brand-sel">
                <span id="brandon">苹果</span>
                <div id="brandlist">
                    <ul>
                        <li data-id="0">所有品牌</li>
                        <li data-id="1">苹果</li>
                        <li data-id="2">华为</li>
                        <li data-id="4">小米</li>
                        <li data-id="5">OPPO</li>
                        <li data-id="6">VIVO</li>
                    </ul>
                </div>
            </div>
            <input type="hidden" name="brand" id="brand" value="1"/>
            <input type="text" name="word" id="word" placeholder="输入城市\区域\店铺名称" />
            <input type="button" id="btnsearch" value="查询" />
        </div>
        <div class="hotcity mt20">
            热门城市：
            <a href="" title="">北京</a>
            <a href="" title="">上海</a>
            <a href="" title="">广州</a>
            <a href="" title="">深圳</a>
        </div>
    </div>
</div>
<div class="wrap nearstore">
    <h2>附近的手机维修点推荐</h2>
    <p>根据您的上网IP定位推荐维修点</p>
    <div class="storebox">
        <div class="storeitem">
            <a href="#" title=""><img src="http://img.xiuiphone.com/uploads/1530086924.jpg" alt="店铺名称" /></a>
            <h3><a href="" title="">苹果维修点：APPLE STORE王府井店</a></h3>
            <a class="gray" href="">苏州苹果维修点</a>
        </div>
        <div class="storeitem">
            <a href="#" title=""><img src="http://img.xiuiphone.com/uploads/1530086860.JPEG" alt="店铺名称" /></a>
            <h3><a href="" title="">苹果维修点：APPLE STORE王府井店</a></h3>
            <a class="gray" href="">苏州苹果维修点</a>
        </div>
        <div class="storeitem">
            <a href="#" title=""><img src="http://img.xiuiphone.com/uploads/1530086860.JPEG" alt="店铺名称" /></a>
            <h3><a href="" title="">苹果维修点：APPLE STORE王府井店</a></h3>
            <a class="gray" href="">苏州苹果维修点</a>
        </div>
        <div class="storeitem">
            <a href="#" title=""><img src="http://img.xiuiphone.com/uploads/1530086924.jpg" alt="店铺名称" /></a>
            <h3><a href="" title="">苹果维修点：APPLE STORE王府井店</a></h3>
            <a class="gray" href="">苏州苹果维修点</a>
        </div>
    </div>
</div>
