<div class="wrap subnav">
    当前位置：
    <a href="#">品牌手机维修</a>
    &gt;
    <a href="#">苹果售后维修点</a>
    &gt;
    <a href="">北京 @ViewData["city"] 苹果售后维修点</a>
</div>

<div class="wrap searchtool">
    <div class="line p20">区域：<a href="">北京</a><a class="curr" href="">北京</a><a href="">北京</a><a href="">北京</a><a href="">北京</a></div>
</div>
<div class="wrap hdlist">
    <h2><a href="">city北京苹果手机维修点</a></h2>
</div>
<div class="wrap">
    <div class="flex" style="background:white;">
        <div class="storelist">
            <div class="storebox">
                <div class="storeitem">
                    <div class="thumb">
                        <a href="#" title=""><img src="http://img.xiuiphone.com/uploads/1530086924.jpg" alt="店铺名称" /></a>
                    </div>
                    <div class="meta">
                        <h2><a href="" title="">苹果维修点：APPLE STORE王府井店</a></h2>
                        <div class="icons">
                            <span class="ico-offical1">官方直营</span>
                            <span class="ico-offical2">官方授权</span>
                            <span class="ico-commend">优质推荐</span>
                            <span class="ico-yuyue">支持预约</span>
                            <span class="ico-unknown">未知店铺</span>
                        </div>
                        <div class="poi">苏州市工业园区环球188大厦</div>
                        <div class="time">周一到周日9:00-22:00</div>
                        <div class="tags">
                            <a class="gray" href="">苏州苹果维修点</a>
                            <a class="gray" href="">苹果维修点</a>
                            <a class="gray" href="">官方维修点</a>
                        </div>
                    </div>
                    <div class="more">
                        <div>
                            <a href="" class="phone">联系商家</a>
                            <p class="phone-text">400-888-8989</p>
                        </div>
                    </div>
                </div>
                <div class="storeitem">
                    <div class="thumb">
                        <a href="#" title=""><img src="http://img.xiuiphone.com/uploads/1530086924.jpg" alt="店铺名称" /></a>
                    </div>
                    <div class="meta">
                        <h2><a href="" title="">苹果维修点：APPLE STORE王府井店</a></h2>
                        <div class="icons">
                            <span class="ico-offical1">官方直营</span>
                            <span class="ico-offical2">官方授权</span>
                            <span class="ico-commend">优质推荐</span>
                            <span class="ico-yuyue">支持预约</span>
                            <span class="ico-unknown">未知店铺</span>
                        </div>
                        <div class="poi">苏州市工业园区环球188大厦</div>
                        <div class="time">周一到周日9:00-22:00</div>
                        <div class="tags">
                            <a class="gray" href="">苏州苹果维修点</a>
                            <a class="gray" href="">苹果维修点</a>
                            <a class="gray" href="">官方维修点</a>
                        </div>
                    </div>
                    <div class="more">
                        <div>
                            <a href="" class="phone">联系商家</a>
                            <p class="phone-text">400-888-8989</p>
                        </div>
                    </div>
                </div>
                <div class="storeitem">
                    <div class="thumb">
                        <a href="#" title=""><img src="http://img.xiuiphone.com/uploads/1530086924.jpg" alt="店铺名称" /></a>
                    </div>
                    <div class="meta">
                        <h2><a href="" title="">苹果维修点：APPLE STORE王府井店</a></h2>
                        <div class="icons">
                            <span class="ico-offical1">官方直营</span>
                            <span class="ico-offical2">官方授权</span>
                            <span class="ico-commend">优质推荐</span>
                            <span class="ico-yuyue">支持预约</span>
                            <span class="ico-unknown">未知店铺</span>
                        </div>
                        <div class="poi">苏州市工业园区环球188大厦</div>
                        <div class="time">周一到周日9:00-22:00</div>
                        <div class="tags">
                            <a class="gray" href="">苏州苹果维修点</a>
                            <a class="gray" href="">苹果维修点</a>
                            <a class="gray" href="">官方维修点</a>
                        </div>
                    </div>
                    <div class="more">
                        <div>
                            <a href="" class="phone">联系商家</a>
                            <p class="phone-text">400-888-8989</p>
                        </div>
                    </div>
                </div>
                <div class="storeitem">
                    <div class="thumb">
                        <a href="#" title=""><img src="http://img.xiuiphone.com/uploads/1530086924.jpg" alt="店铺名称" /></a>
                    </div>
                    <div class="meta">
                        <h2><a href="" title="">苹果维修点：APPLE STORE王府井店</a></h2>
                        <div class="icons">
                            <span class="ico-offical1">官方直营</span>
                            <span class="ico-offical2">官方授权</span>
                            <span class="ico-commend">优质推荐</span>
                            <span class="ico-yuyue">支持预约</span>
                            <span class="ico-unknown">未知店铺</span>
                        </div>
                        <div class="poi">苏州市工业园区环球188大厦</div>
                        <div class="time">周一到周日9:00-22:00</div>
                        <div class="tags">
                            <a class="gray" href="">苏州苹果维修点</a>
                            <a class="gray" href="">苹果维修点</a>
                            <a class="gray" href="">官方维修点</a>
                        </div>
                    </div>
                    <div class="more">
                        <div>
                            <a href="" class="phone">联系商家</a>
                            <p class="phone-text">400-888-8989</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="side">
            <div style="text-align:right;"><img src="https://www.caobao.com/Public/Imgadv/201607/5780a3ac55753.jpg" /></div>

            <div style="text-align: right;"><img src="https://www.caobao.com/Public/Imgadv/201607/5780a397a865c.jpg" /></div>

        </div>
    </div>
</div>

<div class="wrap hdlist">
    <h2><a href="">北京华为手机维修点</a></h2>
</div>
<div class="wrap">
    <div class="flex" style="background:white;">
        <div class="storelist">
            <div class="storebox">
                <div class="storeitem">
                    <div class="thumb">
                        <a href="#" title=""><img src="http://img.xiuiphone.com/uploads/1530086924.jpg" alt="店铺名称" /></a>
                    </div>
                    <div class="meta">
                        <h2><a href="" title="">苹果维修点：APPLE STORE王府井店</a></h2>
                        <div class="icons">
                            <span class="ico-offical1">官方直营</span>
                            <span class="ico-offical2">官方授权</span>
                            <span class="ico-commend">优质推荐</span>
                            <span class="ico-yuyue">支持预约</span>
                            <span class="ico-unknown">未知店铺</span>
                        </div>
                        <div class="poi">苏州市工业园区环球188大厦</div>
                        <div class="time">周一到周日9:00-22:00</div>
                        <div class="tags">
                            <a class="gray" href="">苏州苹果维修点</a>
                            <a class="gray" href="">苹果维修点</a>
                            <a class="gray" href="">官方维修点</a>
                        </div>
                    </div>
                    <div class="more">
                        <div>
                            <a href="" class="phone">联系商家</a>
                            <p class="phone-text">400-888-8989</p>
                        </div>
                    </div>
                </div>
                <div class="storeitem">
                    <div class="thumb">
                        <a href="#" title=""><img src="http://img.xiuiphone.com/uploads/1530086924.jpg" alt="店铺名称" /></a>
                    </div>
                    <div class="meta">
                        <h2><a href="" title="">苹果维修点：APPLE STORE王府井店</a></h2>
                        <div class="icons">
                            <span class="ico-offical1">官方直营</span>
                            <span class="ico-offical2">官方授权</span>
                            <span class="ico-commend">优质推荐</span>
                            <span class="ico-yuyue">支持预约</span>
                            <span class="ico-unknown">未知店铺</span>
                        </div>
                        <div class="poi">苏州市工业园区环球188大厦</div>
                        <div class="time">周一到周日9:00-22:00</div>
                        <div class="tags">
                            <a class="gray" href="">苏州苹果维修点</a>
                            <a class="gray" href="">苹果维修点</a>
                            <a class="gray" href="">官方维修点</a>
                        </div>
                    </div>
                    <div class="more">
                        <div>
                            <a href="" class="phone">联系商家</a>
                            <p class="phone-text">400-888-8989</p>
                        </div>
                    </div>
                </div>
                <div class="storeitem">
                    <div class="thumb">
                        <a href="#" title=""><img src="http://img.xiuiphone.com/uploads/1530086924.jpg" alt="店铺名称" /></a>
                    </div>
                    <div class="meta">
                        <h2><a href="" title="">苹果维修点：APPLE STORE王府井店</a></h2>
                        <div class="icons">
                            <span class="ico-offical1">官方直营</span>
                            <span class="ico-offical2">官方授权</span>
                            <span class="ico-commend">优质推荐</span>
                            <span class="ico-yuyue">支持预约</span>
                            <span class="ico-unknown">未知店铺</span>
                        </div>
                        <div class="poi">苏州市工业园区环球188大厦</div>
                        <div class="time">周一到周日9:00-22:00</div>
                        <div class="tags">
                            <a class="gray" href="">苏州苹果维修点</a>
                            <a class="gray" href="">苹果维修点</a>
                            <a class="gray" href="">官方维修点</a>
                        </div>
                    </div>
                    <div class="more">
                        <div>
                            <a href="" class="phone">联系商家</a>
                            <p class="phone-text">400-888-8989</p>
                        </div>
                    </div>
                </div>
                <div class="storeitem">
                    <div class="thumb">
                        <a href="#" title=""><img src="http://img.xiuiphone.com/uploads/1530086924.jpg" alt="店铺名称" /></a>
                    </div>
                    <div class="meta">
                        <h2><a href="" title="">苹果维修点：APPLE STORE王府井店</a></h2>
                        <div class="icons">
                            <span class="ico-offical1">官方直营</span>
                            <span class="ico-offical2">官方授权</span>
                            <span class="ico-commend">优质推荐</span>
                            <span class="ico-yuyue">支持预约</span>
                            <span class="ico-unknown">未知店铺</span>
                        </div>
                        <div class="poi">苏州市工业园区环球188大厦</div>
                        <div class="time">周一到周日9:00-22:00</div>
                        <div class="tags">
                            <a class="gray" href="">苏州苹果维修点</a>
                            <a class="gray" href="">苹果维修点</a>
                            <a class="gray" href="">官方维修点</a>
                        </div>
                    </div>
                    <div class="more">
                        <div>
                            <a href="" class="phone">联系商家</a>
                            <p class="phone-text">400-888-8989</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="side">
            <div style="text-align:right;"><img src="https://www.caobao.com/Public/Imgadv/201607/5780a3ac55753.jpg" /></div>

            <div style="text-align: right;"><img src="https://www.caobao.com/Public/Imgadv/201607/5780a397a865c.jpg" /></div>

        </div>
    </div>
</div>


<div class="wrap hdlist">
    <h2><a href="">北京小米手机维修点</a></h2>
</div>
<div class="wrap">
    <div class="flex" style="background:white;">
        <div class="storelist">
            <div class="storebox">
                <div class="storeitem">
                    <div class="thumb">
                        <a href="#" title=""><img src="http://img.xiuiphone.com/uploads/1530086924.jpg" alt="店铺名称" /></a>
                    </div>
                    <div class="meta">
                        <h2><a href="" title="">苹果维修点：APPLE STORE王府井店</a></h2>
                        <div class="icons">
                            <span class="ico-offical1">官方直营</span>
                            <span class="ico-offical2">官方授权</span>
                            <span class="ico-commend">优质推荐</span>
                            <span class="ico-yuyue">支持预约</span>
                            <span class="ico-unknown">未知店铺</span>
                        </div>
                        <div class="poi">苏州市工业园区环球188大厦</div>
                        <div class="time">周一到周日9:00-22:00</div>
                        <div class="tags">
                            <a class="gray" href="">苏州苹果维修点</a>
                            <a class="gray" href="">苹果维修点</a>
                            <a class="gray" href="">官方维修点</a>
                        </div>
                    </div>
                    <div class="more">
                        <div>
                            <a href="" class="phone">联系商家</a>
                            <p class="phone-text">400-888-8989</p>
                        </div>
                    </div>
                </div>
                <div class="storeitem">
                    <div class="thumb">
                        <a href="#" title=""><img src="http://img.xiuiphone.com/uploads/1530086924.jpg" alt="店铺名称" /></a>
                    </div>
                    <div class="meta">
                        <h2><a href="" title="">苹果维修点：APPLE STORE王府井店</a></h2>
                        <div class="icons">
                            <span class="ico-offical1">官方直营</span>
                            <span class="ico-offical2">官方授权</span>
                            <span class="ico-commend">优质推荐</span>
                            <span class="ico-yuyue">支持预约</span>
                            <span class="ico-unknown">未知店铺</span>
                        </div>
                        <div class="poi">苏州市工业园区环球188大厦</div>
                        <div class="time">周一到周日9:00-22:00</div>
                        <div class="tags">
                            <a class="gray" href="">苏州苹果维修点</a>
                            <a class="gray" href="">苹果维修点</a>
                            <a class="gray" href="">官方维修点</a>
                        </div>
                    </div>
                    <div class="more">
                        <div>
                            <a href="" class="phone">联系商家</a>
                            <p class="phone-text">400-888-8989</p>
                        </div>
                    </div>
                </div>
                <div class="storeitem">
                    <div class="thumb">
                        <a href="#" title=""><img src="http://img.xiuiphone.com/uploads/1530086924.jpg" alt="店铺名称" /></a>
                    </div>
                    <div class="meta">
                        <h2><a href="" title="">苹果维修点：APPLE STORE王府井店</a></h2>
                        <div class="icons">
                            <span class="ico-offical1">官方直营</span>
                            <span class="ico-offical2">官方授权</span>
                            <span class="ico-commend">优质推荐</span>
                            <span class="ico-yuyue">支持预约</span>
                            <span class="ico-unknown">未知店铺</span>
                        </div>
                        <div class="poi">苏州市工业园区环球188大厦</div>
                        <div class="time">周一到周日9:00-22:00</div>
                        <div class="tags">
                            <a class="gray" href="">苏州苹果维修点</a>
                            <a class="gray" href="">苹果维修点</a>
                            <a class="gray" href="">官方维修点</a>
                        </div>
                    </div>
                    <div class="more">
                        <div>
                            <a href="" class="phone">联系商家</a>
                            <p class="phone-text">400-888-8989</p>
                        </div>
                    </div>
                </div>
                <div class="storeitem">
                    <div class="thumb">
                        <a href="#" title=""><img src="http://img.xiuiphone.com/uploads/1530086924.jpg" alt="店铺名称" /></a>
                    </div>
                    <div class="meta">
                        <h2><a href="" title="">苹果维修点：APPLE STORE王府井店</a></h2>
                        <div class="icons">
                            <span class="ico-offical1">官方直营</span>
                            <span class="ico-offical2">官方授权</span>
                            <span class="ico-commend">优质推荐</span>
                            <span class="ico-yuyue">支持预约</span>
                            <span class="ico-unknown">未知店铺</span>
                        </div>
                        <div class="poi">苏州市工业园区环球188大厦</div>
                        <div class="time">周一到周日9:00-22:00</div>
                        <div class="tags">
                            <a class="gray" href="">苏州苹果维修点</a>
                            <a class="gray" href="">苹果维修点</a>
                            <a class="gray" href="">官方维修点</a>
                        </div>
                    </div>
                    <div class="more">
                        <div>
                            <a href="" class="phone">联系商家</a>
                            <p class="phone-text">400-888-8989</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="side">
            <div style="text-align:right;"><img src="https://www.caobao.com/Public/Imgadv/201607/5780a3ac55753.jpg" /></div>

            <div style="text-align: right;"><img src="https://www.caobao.com/Public/Imgadv/201607/5780a397a865c.jpg" /></div>

        </div>
    </div>
</div>
